[submodule "poky"]
	path = poky
	url = git://git.yoctoproject.org/poky.git
	branch = dunfell
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
	branch = dunfell
[submodule "meta-arm"]
	path = meta-arm
	url = https://github.com/jonmason/meta-arm.git
	branch = dunfell
[submodule "meta-ti"]
	path = meta-ti
	url = https://github.com/YoeDistro/meta-ti.git
	branch = dunfell
[submodule "meta-qt5"]
	path = meta-qt5
	url = https://github.com/meta-qt5/meta-qt5.git
	branch = dunfell
